body {
  display: flex;
  background-image: linear-gradient(to bottom, #fdfdfd, #7c7b86, #3a3a3a);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  flex-direction: column;
  align-items: center;
  height:100vw;
}

li {
  cursor: pointer;
}

#navibari{
  position:-webkit-sticky;
  position:sticky;
  top:10px;
  padding:10px;
  font-size:1.1em;
  background-color:#41414196;
  border: 1px solid #333;
  border-radius: 5px;
}



ul > .midtab {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

.kona{
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div{
  border: 1px solid gray;
}

.kona > div {
  border: 3px dotted darkgray;
}

.services{
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  gap: 10px;
  padding: 20px;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar{
  width: max-content;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: rgb(168, 168, 168);
}